<section class="flex flex-col gap-6 items-start py-12 px-8" id="about">
  <h2 class="font-bold text-2xl">Sobre mí</h2>
  <div class="flex flex-col gap-4 w-full text-justify">
    <p>
      Hola, soy Dylan Ezequiél Gómez, un desarrollador de software apasionado por crear
      experiencias digitales únicas y funcionales. Me especializo en el
      desarrollo front-end, <span class="text-blue-400 font-medium">ideas en sitios web atractivos,
      intuitivos y responsivos</span>, siempre con un enfoque en la usabilidad, <span class="text-blue-400 font-medium">el
      rendimiento y buenas prácticas de SEO</span>.
    </p>
    <p>
      Me gusta mantenerme en <span class="text-blue-400 font-medium">constante aprendizaje</span> aplicando las últimas
      tendencias y tecnologías para ofrecer soluciones innovadoras y eficientes.
    </p>
    <p>
      Entre mis proyectos, destaco <a href="https://siatec.netlify.app/" target="_blank" rel="noopener" class="text-blue-400 cursor-pointer font-medium hover:text-blue-300 transition">S.I.A.T.E.C</a>, app de escritorio para la
      gestión de turnos médicos, <span class="text-blue-400 font-medium">reconocida en la Feria de Ciencias y Tecnología
      2025 en San Vicente, Argentina.</span> Este proyecto me permitió presentar mi
      trabajo en distintos eventos y compartir conocimientos con otros
      profesionales del sector.
    </p>
    <p>
      Además, cuento con el título de <span class="text-blue-400 font-semibold">Técnico en Informática</span>, lo que me ha brindado una sólida
      base técnica y habilidades prácticas para enfrentar los desafíos del desarrollo de software.
    </p>
  </div>
</section>
