<section id="home" class="flex flex-col md:flex-row justify-center items-center gap-8 py-16 mb-16 md:mb-32 mt-24 md:mt-36 px-4">
    <img 
        src="/img-perfil.webp" 
        alt="Foto de perfil de Dylan Gómez" 
        class="w-52 md:w-80 h-auto rounded-full shadow-lg hover:scale-105 transition duration-500"
    />
    
    <div class="flex flex-col items-center text-center gap-6">
        <h1 class="font-extrabold text-4xl md:text-5xl">Dylan Gómez</h1>
        <p class="text-lg text-gray-700 dark:text-white/80 max-w-md">
            Desarrollador Front-end | Creando experiencias webs únicas
        </p>
        <a 
            href="#projects" 
            class="bg-[#0080FF] px-6 py-3 rounded-xl font-medium text-white  hover:bg-[#0080FF]/90 hover:scale-105 transition duration-300 shadow-md"
        >
            Ver proyectos
        </a>
    </div>
</section>