---
import ProjectCard from "../components/ProjectCard.astro";

const projects = [
  {
    title: "Aberturas MG | E-commerce Store",
    description: "Un catálogo de productos para un emprendimiento llamado Aberturas MG, integrado con WhatsApp.",
    image: "/projects-img/aberturas-mg.webp",
    demoLink: "https://aberturasmg.netlify.app/",
  },
  {
    title: "SIA-TEC | Blog",
    description: "Un blog para un proyecto escolar llamado SIA-TEC. Un software para la gestión de turnos en un hospital con IA.",
    image: "/projects-img/siatec-web.webp",
    demoLink: "https://siatec.netlify.app/",
  },
  {
    title: "SIA-TEC | App",
    description: "Una aplicación para la gestión de turnos en hospitales con Inteligencia Artificial.",
    image: "/projects-img/siatec-app.webp",
    demoLink: "https://github.com/DylanGomez09/SIA-TEC-App.git",
  },
];
---

<section id="projects" class="max-w-[1200px] mx-auto py-16 px-4 md:px-8">
  <h2 class="font-bold text-2xl mb-8 md:mb-12">Proyectos</h2>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 md:gap-8">
    {projects.map(project => (
      <ProjectCard {...project} />
    ))}
  </div>
</section>