---
import SkillCard from "../components/SkillsCard.astro";

const skills = [
  { name: "Astro", icon: "/icons/astro.svg" },
  { name: "React", icon: "/icons/react.svg" },
  { name: "Vite", icon: "/icons/vite.svg" },
  { name: "Git", icon: "/icons/git.svg" },
  { name: "GitHub", icon: "/icons/github.svg" },
  { name: "HTML5", icon: "/icons/html5.svg" },
  { name: "CSS", icon: "/icons/css3.svg" },
  { name: "Tailwind", icon: "/icons/tailwind.svg" },
  { name: "Javascript", icon: "/icons/javascript.svg" },
];
---

<section class="flex flex-col gap-1 py-16 px-8" id="skills">
  <h2 class="font-bold text-2xl">Skills</h2>
  <div class="grid grid-cols-2 gap-3 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 mt-8">
    {skills.map(skill => (
      <SkillCard name={skill.name} icon={skill.icon} />
    ))}
  </div>
</section>